
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Miriam+Libre:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Thabit;
    src: url('assets/fonts/thabit/Thabit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
    header {
        background: #ffffff;
        color: #000000;
        text-align: center;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: "Miriam Libre", sans-serif;
            font-size: 45px;
            margin: 0;
        }
        h2 {
            font-family: 'Thabit', monospace;
            font-size: 20px;
            font-weight: 600;
            margin: 5px;
            color: #605C59;
        }
    }
    .navBar {
        font-family: 'Thabit', monospace;
        font-size: 16px;
        background-color: #ffffff;
        border: 1px solid #000000;
        display: flex;
        border-left: 0;
        border-right: 0;
        height: 50px;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 200px;
        .navItem {
            a {
                text-decoration: none;
                color: #000000;
            }
            border-left: 1px solid #000000;
            height: 100%;
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            &:last-child {
                border-right: 1px solid #000000;
            }
        };
    }

    main {
        background-color: #FFEBEB;
        width: 100%;
        min-height: 100vh;

        .postContainer {
            display: flex;
            justify-content: center;
        }
        .post { 
            left: auto;
            margin-left: auto;
            margin-right: auto;
            background-color: #ffffff;
            min-height: 80vmin;
            border: 1px solid #000000;
            margin: 50px;
            max-width: 1182px;

            .postLabelContainer {
                position: relative;
                display: inline-block;
            }
            .postLabel {
                font-family: "Antic Didone", serif;
                border: 1px solid #000000;
                border-radius: 2px;
                position: absolute; 
                top: -30px;
                left: -1px;
                display: flex;
                align-items: center;
                padding: 5px 10px;
                width: 30%;
                background-color: #ffffff;
                height: 50px;
                justify-content: center;
            }
            
            .imageContainer {
                max-height: 400px;
                overflow: hidden;
                display: flex;
                align-items: center;
            }

            img {
                max-width: 100%;
                height: auto;
            }

            .postContent {
                padding: 0 20px;

                h3 {
                    font-family: "Miriam Libre", sans-serif;
                    font-size: 24px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                h4 {
                    font-family: 'Thabit', monospace;
                    font-size: 14px;
                    color: #837d78;
                    margin-top: 5px;
                    margin-left: 7px;
                }

                font-family: "Roboto", serif;
                font-weight: 300;

            }
        }
    }
}