---
layout: layout.html
---
<div class="postContainer">
    <div class="post">
        <div class="postLabelContainer">
            <div class="imageContainer"><img src="../assets/photos/about-us.jpg" /> </div>
        </div>
        <div class="postContent">
            <h2>About Us</h2>
            <div class="postParagraph">
                <span class="postBlock">Hello! We are Kassie and Nicola from New Zealand. <br /> </span>
                <span class="postBlock">In 2025 we decided we were too young for boring office jobs, and quit our jobs and packed up our lives to travel the world.
                    We're currently based in Madrid, Spain working part-time as English language assistants in schools. This leaves us plenty of time to explore Europe! <br /> </span>
                <span class="postBlock">We are doing so very much on a budget (you're more likely to find us stuffing our faces with local street food than at an expensive attraction). 
                Our ethos is simple; we rate places on budget, food, and how safe we felt as a queer couple in each place. <br /> </span>
                <span class="postBlock">We hope to empower other queer travellers to explore this beautiful world in a way that is both safe and wallet-friendly. </span>
            </div>
        </div>
    </div>
</div>